div.cardTemps{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin: 20px;
    width: 160px;
    border-radius: 5%;
    padding: .3em;
    border: 1px grey solid;

}


div.cardTemps h2{
    display: inline-block;
    margin: 20px;
    font-size: 1rem;
    font-weight: 600;
}

div.cardTemps h1{
    text-align: center;
}

div.cardTemps img{
    display: block;
    margin: 0 auto;
}

div.cardTemps div{
    text-align: center;
    /* border: 1px grey solid; */
    background-color: rgb(235, 235, 235);
    border-radius: 8px;
}

div.cardTemps div h2:last-child{
    color:orange;
}