.circle div{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

div.red{
    background-color: red;
}

div.grey{
    background-color: grey;
}

div.blue{
    background-color: blue;
}

div.green{
    background-color: green;
}