li.li-block{
    display: block;
    padding: .2em;
}

body{
    font-family: Arial, Helvetica, sans-serif
}

table.main-table{
    position: relative;
    top: 18rem;
    width: 100%;
    text-align: left;
}

div.factura-main{
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
}
div.factura-imagen p{
    margin: 0;
    font-size: .7rem;
    text-align: left;
}

div.factura-imagen{
    padding-left: 1em;
    display: inline-block;
    position: absolute;
    left: 0;
}

div.factura-datos{
    display: inline-block;
    position: absolute;
    right: 2rem;
}

div.factura-datos p{
    margin-top: 0;
    font-size: .7rem;
}

div.factura-cliente{
    display: inline-block;
    position: absolute;
    right: 1.5rem;
    top: 5rem;
    text-align: left;
    padding: 0 1rem;
    border-left: 6px aquamarine solid;
    border-right: 6px aquamarine solid;
    width: 25%;
}

div.factura-cliente p{
    font-size: .8rem;
}

span.factura-cantidadBase{
    text-align: justify;
}

tr#tabla-titulo{
    background-color: aquamarine;
    margin: 0;
}

tr#tabla-centro{
    border-top: 1px aquamarine solid;
}

table.main-table{
    border-bottom: 3px aquamarine solid;
}

td.tabla-total{
    font-weight: 700;
}

p#footer{
    position: absolute;
    bottom: -20.2rem;
    font-size: .8rem;
}

div.fila div{
    background-color: grey;
    width: 60px;
    height: 60px;
    display: inline-block;
    margin: 1px;
    color: black;
    position: relative;
}

div.fila div:hover{
    background: green;
}

div.fila > div.mina:hover{
    background-color:red;
}

div.mina .fas{
    position: absolute;
    top: 25%;
    left: 25%;
    font-size: 2rem;
    display: none;
}

div.mina:hover .fas{
    position: absolute;
    top: 25%;
    left: 25%;
    font-size: 2rem;
    display: block;
}



p.lorem-highlight{
    font-family: 'Oldenburg', cursive;
}

p.lorem-highlight::first-line{
    color: brown;
}

p.lorem-highlight::first-letter{
    font-size: 2em;
}

.mi-formulario input{
    width: 100%;
    display: inline-block;
}

div.mi-formulario{
    padding: .5em;
}

table.second-form{
    width: 40%;
}

.form3{
    margin-top: .3em;
}

table.second-form p{
    margin-bottom: .3em;
}

#postal{
    margin-left: .3em;
}

.mi-formulario, table.second-form p {
    color: blue;
    font-weight: 700;
}

.formulario{
    padding-left: 30%;
}

