
div.col-12{
    background-color: green;
}

.mibox{
    background-color: green;
    padding: 1em;
    margin: 10px 5px;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 100%;
}

.mibox-fijo{
    background-color: red;
    padding: 1em;
    margin: 10px 5px;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 100%;
}

.card{
    display: inline-block;
    text-align: center;
    margin: .5em;
}

.card-container{
    text-align: center;
    padding: .5em;
}

div.navbar ul li{
    display: inline-block;
    margin: 0 2rem;

}
div.navbar .fa-bootstrap{
    color: black;
}
div.navbar{
    background-color: gainsboro;
}

h1#articulos{
    text-align: center;
    
}

div.main{
    padding: 2rem;
}

p.blog-text-red{
    font-size: 2rem;
    font-weight: 500;
    color: red;
}

p.blog-text-blue{
    font-size: 1.8rem;
    color: royalblue;
}

div.blog-body{
    padding: .9rem;
}

@media only screen and (max-width: 1000px){
    .bd-example{
        display: none;
    }
}
