
body{
    background-color: beige;
    padding: 50px;
    font-family: Helvetica, sans-serif
}

h1{
    border: brown;
    border-radius: .5em;
    margin: .1em;
}

h1.titulo-principal{
    border: 2px brown solid;
    display: inline-block;
    padding: 0.5em;
}

h1.titulo-principal:hover{
    text-decoration: underline;
    background-color: rgba(255, 0, 0, 0.356);
}

.alumno{
    font-size: 1em; 
}

ul.lista-ejercicios li {

}

h1.fnt-red{
    color: red;
}

.fnt-blue{
    color: blue;
}

#nombre_alumno {
    color: red;
    text-decoration: underline;
}

h1.titulo{
    color: royalblue;
    font-size: 30px;
    font-style: italic;
}

.texto{
    color: darkblue;
    font-size: 15;
}

.destacado{
    font-style: italic;
    font-weight: 700;
}

.box{
    text-align: center;
    margin: 1em;
    width: 24.5%;
    padding: 1em;
    display: inline-block;
    border-radius: 10px;
    background-color: rgb(223, 212, 188);
    border: 1px rgb(211, 211, 211) solid;
    font-size: .8em;
    position: relative;

}

div.box img{
    width: 100%;
}

.box-header{
    text-align: left;
    color: rgb(80, 80, 80);
    margin: 5px;
    font-style: italic;
}

h5.box-header{
    font-weight: 700;
}


.box-footer i{
    padding: 0.5em;
    font-size: 180%;
    padding: 0 40px;
}

.fa-heart{
    color:red;
}

.fa-comment{
    color:green;
}

.fa-edit{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 200%;
    color: rgb(210, 240, 240);
}

.descripcion{
    font-size: .9em;
    font-style: italic;
    color:rgb(80, 80, 80);
}

.center-box{
    text-align: center;
}

.box-img{
    border-radius: 5px;
}

.header{
    background-color: blue;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    color: white;
}

.footer{
    background-color: red;
    width: 100%;
    margin: 0;
    padding: 0;
    position:fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    color: white;
}

.rectangulo-total{
    width: 100%;
    display: inline-block;
    text-align: center;
    
    
}

.rectangulo{
    background-color:brown;
    border: 1px brown solid;
    color: white;
    text-align: center;
    display: inline-block;
    padding: 2em;
    position: relative;
}

#circle1,#circle2,#circle3,#circle4{
    border: 4px brown solid;
    background-color: beige;
    border-radius: 100%;
    width: 3em;
    height: 3em;
    position: absolute;
}

#circle1{
    top: -15px;
    left: -15px;
}

#circle2{
    bottom: -15px;
    left: -15px;
}

#circle3{
    bottom: -15px;
    right: -15px;
}

#circle4{
    top: -15px;
    right: -15px;
}

.bloque-centrado{
    margin: auto;
    width: 25%; 
}

div.bloque-centrado div{
    width: 100px;
    height: 100px;
    display: inline-block;
    color: white;
    font-size: 3em;
    text-align: center;
    margin: 10px;
}

.icon{
    position: relative;
    top: 25%;
}

#bloque-rojo{
    background-color: red;
    
}

#bloque-verde{
    background-color: green;
}

#bloque-azul{
    background-color: blue;
}

#bloque-amarillo{
    background-color: yellow;
}