@import url('https://fonts.googleapis.com/css?family=Orbitron');

div.calculadoraBody h3 {
    /* border: 1px black solid; */
    font-family: 'Orbitron', sans-serif;
    border-radius: 4px;
    background-color: gainsboro;
    text-align: right;
    padding: 2px;
  }

  div.calculadoraBody{
      width: 200px;
      background-color: grey;
      padding: .6px .5em;
      border: 1px black solid;
  }

  div.calculadoraBody button{
    background-color: #e7e7e7; 
    border: none;
    color: black;
    padding: 15px 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  div.calculadoraBody button:hover{
    background-color: #c7c7c7; /* Green */
    color: black;
  }

