div.capital span{
    font-size: 200px;
  }
  
  div.capital{
    font-size: 30px;
    border: 2px black solid;
    display: inline-block;
    padding: .5em;
    background-color: burlywood;
    margin: .2em;
    text-align: center;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
  }

  div.capital:hover{
    background-color: rgb(255, 225, 187);
  }
  
  div.capital p{
    margin-top: -40px 0;
  }
  