div.bola{
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
    margin: 5px;
    /* display: inline-block; */
}

div.cuadrado{
    height: 50px;
    width: 50px;
    background-color: red;
    margin: 5px;
    display: inline-block;
}

div.linea{
    height: 5px;
    border-bottom: 3px black solid;
    border-top: 1px black solid;
    width: 100%;
}

div.mosca i{
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 40px;
}

div.capital span{
    font-size: 200px;
}

div.capital{
    font-size: 30px;
}

div.capital p{
    margin-top: -40px 0;
}

div.gato{
    display: inline-block;
    padding: 3px;
    border: 1px blue solid;
}

div.gato h3{
    text-align: center;
}

div.bolaBingo{
    height: 40px;
    width: 40px;    
}

div.bolaBingo p{
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 600;

}