<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>React - ejercicios</title>

    <link rel="stylesheet" href="estilos.css">

    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <script src="https://unpkg.com/react@15/dist/react.min.js"> </script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
</head>

<body>
    <div id="root"></div>

    <script type="text/babel">

    class Main extends React.Component {
            render() {
                return (
                    <div>
                        <HolaMundo mensaje="Ejercicios ReactJS"/>
                        <Bola />
                        <Cuadrado />
                        <Separador />
                        <BolaX talla="80" margen="10px" fondo="#ff0000" />
                        <CuadradoB talla="70" margen="10" grosor="5" color="red" />
                        <Mosca color="blue" />
                        <Capital nom="barcelona" />
                        <Gato ancho="200" alto="200" nombre="Garfield" />
                        <BolaBingo className="bola" num="22" />
                        <FotoBola src="http://lorempixel.com/200/200" talla="200" />
                        <Marco src="http://lorempixel.com/200/300" borde="10" color="brown" fondo="beige" />
                    </div>
                );
            }
        }
    
    const HolaMundo= (props) => <h1>{props.mensaje}</h1>;
    const Bola = () => <div className="bola" />
    const Cuadrado = () => <div className="cuadrado" />
    const Separador = () => <div className="linea" />
    function BolaX(props){
        return <div style={
            {width: props.talla, 
            height: props.talla, 
            margin: props.margen, 
            backgroundColor: props.fondo, 
            borderRadius: props.talla/2}
        } />
    }

    function CuadradoB(props){
        return <div style={
            {width: props.talla,
            height: props.talla,
            margin: props.margen,
            borderWidth: props.grosor,
            borderColor: props.color,
            borderStyle: "solid"}
        } />
    }

    function Mosca(props){
        return <div className="mosca" style={{color: props.color}}><i className="fas fa-bug"></i></div>
    }

    function Capital(props){
        let primeraLetra = props.nom.substring(0,1);
        let strResta = props.nom.substring(1);
        primeraLetra = primeraLetra.toUpperCase();
        return <div className="capital"> <span>{primeraLetra}</span> <p>{primeraLetra}{strResta}</p> </div>
    }

    function Gato(props){
            return <div className="gato"><img src="http://placekitten.com/200/300" width={props.ancho} height={props.alto} />        
            <h3>{props.nombre}</h3>
            </div>
    }

    function BolaBingo(props){
        return <div className="bola bolaBingo" >
            <p>{props.num}</p>
            </div>
        }
    
    function FotoBola(props){
        return <img src={props.src} style={
            {width: props.talla,
            height: props.talla,
            borderRadius: props.talla/2}
        }/>

    }
    
    function Marco(props){
        return <div style={
            {backgroundColor: props.fondo,
            padding: props.borde,
            borderSize: "3px",
            borderColor: props.color,
            borderStyle: "solid",
            display: "inline-block"}
        }>
        <img src={props.src} /></div>
    }
    

    ReactDOM.render( <Main  />, document.getElementById("root") );
    
</script>
</body>

</html>