img{
    display: block;
    margin: 20px auto;
    z-index: unset;
}

body {
    background-color: #eaeaea;
}

div.main-body{
    padding: 1em 9em;
    background-color: #eaeaea;
    
}




.navbar{
    background-color: #83af9b;
    padding: 0 !important;
    z-index: 100;
    color: white;
}

.table, thead, th{
    background-color: white; 
}

div.main-body {
    height: 100%;
}

.nav-item:hover{
    background-color: #fc9d9a;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.nav-item{
    padding: .5em;
}

.navbar-brand{
    padding-left: .8em;
}

h1.title{
    text-align: center;
    color:#60dbfb;
}